[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
pydocstyle = "*"
pylint = "*"
mypy = "*"

[packages]
flask = "<1.2.0,>=1.1.1"
flask-basicauth = "*"
zappa = "<0.53.0,>=0.52.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
